@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
  width: 100%;
}

html {
  font-family: "pretendard", sans-serif;
}
span {
  font-family: "Zalando Sans Expanded", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Zalando Sans Expanded", sans-serif;
}
